<!-- START Menu -->
<div>
  <div style="float:left;">
    GROUPS:
    <select id="filter_groups" name="filter[groups]">
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    CRITERION:
    <select id="filter_criterion" name="filter[criterion]">
      <option value="gpa">GPA</option>
      <option value="name">Name</option>
      <option value="random">Random</option>
    </select>
   </div>
</div>
<!-- END Menu -->
<div class="colmask leftmenu">
  <div class="col1">
    <ul id="sortable0">
      <% @students.each do |student| %>
        <li>
        <%= "#{student.name} (#{student.grade} : #{student.gpa})" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col2">
    <div style="float:left;width:100%;">
      <div style="float:left;width:33.33%">
        <ul id="sortable1" class="connectedSortable">
          <li>GROUP 1</li>
        </ul>
      </div>
      <div style="float:left;width:33.33%">
        <ul id="sortable2" class="connectedSortable">
          <li>GROUP 2</li>
        </ul>
      </div>
      <div style="float:left;width:33.33%">
        <ul id="sortable3" class="connectedSortable">
          <li>GROUP 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>

