<div class="content">
	<h1>The Grouppic Team</h1>
	<p>We are a bunch of experts from different fields who came together during the Shared Learning Collaborative (SLC) Camp Boston during Sept 29-30, 2012 to achieve a common goal - improving the quality of education for teachers and students</p>
	<ul>
		<li>Ana - Content Creater</li>
		<li>Dee - Technology Developer</li>
		<li>Erik -  Chief Executive</li>
		<li>Emeka - Product Management</li>
		<li>Jeff - Front-End Development</li>
		<li>Jiani - User Behavior Analyst</li>
		<li>Lucio - Designer</li>
		<li>Sook - Educator</li>
	</ul>
</div>
