<div class="content">
  <h1>GroupPic</h1>
  <p>Oftentimes teachers randomly select groups, losing the possibility of leveraging the group experience by combining students with complementary abilities or similar levels of comprehension of a subject.

  <p>Even if objective criteria is used to select group members, teachers end up basing their decisions on assumptions or impressions about students due to limited access to student information.

  <p>With GroupPic, teachers will be able to select the criteria they want to use to create groups for multiple projects in an easy, user-friendly environment, and add information about the groups performance so he/she has a record of which groups worked better and which didn't to further adapt to the next project.

  <p>GroupPic helps teachers create a more homogeneous learning environment between groups by removing selection biases, as well as enhance learning by grouping students with similar or complementary learning styles.

  <p>Smarter groups, better learning.
  <p>
<%= link_to "Dive In", @oauthurl =%>
<p>
</div>

